/* src/styles/element-overrides.css */
:root {
    --el-color-primary: #ff5733;
    --el-table-row-border-color: #eee;
    --el-table-row-hover-background-color: #f5f5f5;
    --el-table-row-text-color: #2c2c2c;
    --el-menu-border-color: #ffffff;
}

.dark {
    --el-color-primary: #0d47a1;
    --el-table-header-background-color: #222d3e; /* Fondo del encabezado en modo oscuro */
    --el-table-row-hover-background-color: #222d3e; /* Fondo de la fila al pasar el mouse en modo oscuro */
    --el-table-row-background-color: #1e2838; /* Fondo de la fila en modo oscuro */
    --el-table-row-border-color: #2e394c;
    --el-table-header-text-color: #ffffff; /* Texto del encabezado en modo oscuro */
    --el-table-row-text-color: #ffffff;

    --el-menu-border-color: #1e2838;
    /* --el-menu-width: 220px; */

    --el-submenu-width: 200px;
    --el-submenu-padding: 2px;
    --el-menu-hover-background-color: #307af0;
}

.el-table th {
    background-color: var(--el-table-header-background-color) !important;
    color: var(--el-table-row-text-color) !important;
}

.el-table td {
    color: var(--el-table-header-text-color) !important;
    background-color: var(--el-table-row-background-color) !important;
    color: var(--el-table-text-color) !important;
    border-color: var(--el-table-row-border-color) !important;
    color: var(--el-table-row-text-color) !important;
}

.el-table tr:hover td {
    background-color: var(--el-table-row-hover-background-color) !important;
}

.el-menu {
    border-color: var(--el-menu-border-color);
    border-width: 0px;
}

.el-menu .el-sub-menu .el-menu {
    /* width: var(--el-submenu-width) !important; */
    padding: var(--el-submenu-padding) !important;
}
